<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="jp.co.tis.xenlon.AutoSuiteGen.run"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.homeserver.tamutamu.autosuitegen.RunAction"
               id="jp.co.tis.xenlon.AutoSuiteGen.action1"
               label="Suite生成">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="jp.co.tis.xenlon.AutoSuiteGen.Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.homeserver.tamutamu.autosuitegen.AutoSuiteGenNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="jp.co.tis.xenlon.AutoSuiteGen.Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="com.homeserver.tamutamu.autosuitegen.IncrementalProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.homeserver.tamutamu.autosuitegen.AutoSuiteGenPropertyPage"
            id="jp.co.tis.xenlon.AutoSuiteGen.page"
            name="Suite自動生成"
            objectClass="org.eclipse.core.resources.IProject">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.homeserver.tamutamu.autosuitegen.AutoSuiteGenPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.homeserver.tamutamu.autosuitegen.AutoSuiteGenPage"
            id="jp.co.tis.xenlon.AutoSuiteGen.PreferencePage"
            name="Suite自動生成">
      </page>
   </extension>

</plugin>
